<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Time til</th>
      <th>Birthday</th>
      <th>Next</th>
    </tr>
  </thead>
  <tbody>
    {{#each characters}}
      <tr>
        <td><a href="{{url}}" target="_blank" rel="noopener noreferrer">{{name}}</a></td>
        <td><time datetime="{{til_next_iso}}">{{til_next_rounded}}</time></td>
        <td><time datetime="{{birthday_iso}}">{{birthday}}</time></td>
        <td><time datetime="{{next_occurrence}}">{{next_occurrence}}</time></td>
      </tr>
    {{/each}}
  </tbody>
</table>
